
.container{
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    nav{
        margin-left: 28em;
        background-color: transparent;
    }
    .logo{
        margin-top: 0.8em;
        position: absolute;

        .logoImage{
            width: 100px;
            height: 60px;
    }
    }
    
}
#icon{
    size: 5em;
    font-size: 18px;
    position: absolute;
    margin-top: -2px;
    margin-left: -1.2em;
}